<h3 class="lbl-2"> {{ title }} </h3>
{% if drupal_tags %}
  {{ drupal_tags }}
{% else %}
  <ul class="{{ tagsWrapper }}">
    {% for tag in tags %}
      <li class="{{ tagsWrapperList }}">
        <a href="{{ tag.linkUrl }}">
          {{ tag.linkText }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
